.env
data/*

!data/oxide
data/oxide/*
!data/oxide/config
!data/oxide/plugins
!data/oxide/data
data/oxide/data/*
!data/oxide/data/oxide.groups.data

!data/server
data/server/*
!data/server/docker
data/server/docker/*
!data/server/docker/cfg
data/server/docker/cfg/*
!data/server/docker/cfg/server.cfg
